<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ lang_dir }}">
  <head>
    <title>I love you</title>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
    <style>
    html, body { height: 100%; font-family: Helvetica, arial, monospace; }
    #main { width: 500px;
            height: 500px;
            text-align: center;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -250px;
            margin-top: -250px;
            font-size: 100px;
          }
  </style>
  </head>
  <body>
    <h3>Text for locale {{ lang }}</h3>
    <p id="main">{{ gettext( "iloveyou" ) }}</p>

    <h3>Other Locales:</h3>
    {% for locale in locales %}
      <a href="/{{ locale }}/">{{ locale }}</a>&nbsp;
    {% endfor %}
  </body>
</html>
